.txt_btn a {
    color: rgb(255, 255, 255);
    background-color: #5e17b4;
    padding: 9px 15px;
    border-radius: 15px;
    text-decoration: none;
    margin: 0px 8px;
    font-weight: bold;
    display: inline-block;
  }

.name {
    width: 23px;
    display: inline-block;
}

.knopka {
    margin-top: 13px;
}

.name_psw {
    display: inline-block;
    margin-right: 25px;
}

.knopka_psw {
    margin-top: 15px;
}